@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.menu-t {
		@apply cursor-pointer border-2 border-[#131921] rounded-md p-2;
		transition: border-color 0.2s;
	}
	.menu-b {
		@apply cursor-pointer border-2 border-[#232F3E] rounded-md p-2;
		transition: border-color 0.2s;
	}

	.menu-t:hover,
	.menu-b:hover {
		border-color: white;
	}

	.card {
		@apply relative bg-white shadow-lg rounded-md p-10 z-30 m-5;
	}
	.category-text {
		@apply absolute top-2 right-2 text-xs italic text-gray-400;
	}

	.button {
		@apply bg-gradient-to-b from-yellow-200 to-yellow-400 border 
    	border-yellow-300 rounded-sm p-2 text-sm w-full
    	focus:outline-none focus:ring-2 focus:ring-yellow-400 active:from-yellow-500;
	}

	.feed-grid {
		@apply grid grid-flow-row-dense grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 items-center md:-mt-56;
	}

	.image-container {
		@apply flex justify-center w-full;
	}

	.search {
		@apply flex items-center h-10 rounded-md flex-grow cursor-pointer bg-yellow-400 hover:bg-yellow-500;
	}

	.input {
		@apply flex items-center h-10 rounded-sm flex-grow cursor-pointer bg-white hover:border-2 focus:outline-none pl-3;
	}

	.cart-sum {
		@apply absolute top-0 right-0 h-4 w-4 bg-yellow-400 text-center rounded-full text-black font-bold;
	}

	.hide-scrollbar::-webkit-scrollbar {
		display: none;
	}

	.hide-scrollbar {
		-ms-overflow-style: none;
		scrollbar-width: none;
	}

	.bottom-menu-container {
		@apply flex items-center text-white text-sm space-x-4 font-semibold p-2 pl-6 overflow-x-auto hide-scrollbar;
	}
	.left-sidebar {
		@apply fixed top-0 left-0 h-full w-64 bg-gray-100 z-50 transform transition-transform duration-500 ease-in-out;
	}

	.close-sidebar {
		@apply text-white p-2 items-center justify-center absolute h-16
		top-10 left-72 transform -translate-x-1/2 -translate-y-1/2 cursor-pointer;
	}
	.close-sidebar-right {
		@apply text-white p-2 items-center justify-center absolute h-16
		top-10 right-64 transform -translate-x-1/2 -translate-y-1/2 cursor-pointer;
	}

	.overlay-right-of-sidebar {
		@apply left-64 w-full h-full bg-black bg-opacity-90 z-40;
	}
}

.main-padding {
	padding-top: calc(100% * 0.44); /* Adjust the value for mobile screens */
}

@media (min-width: 640px) {
	.main-padding {
		padding-top: calc(100% * 0.08); /* Adjust the value for larger screens */
	}
}
